.Home
{
    background-image: url(../photo.jpg);
    text-align: center;
    min-height: 100vh;

    img
    {
        width: 100vw;
    }
    .btndiv
    {
        display: inline-block;
        margin-top: 50vh;

        .button
        {
            margin: 15vh 50px;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            width: 13vw;
            height: 7vh;
            border: none;
        }
        .button:hover 
        {
            background-color: black;
            color: white;
        }
    }
}